@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');


body, html{
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}
/*Backgound Image*/
.bg_image{
    background-image: url("../icon/bgImage.jpg");
    filter: blur(4px);
    -webkit-filter: blur(4px);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/*Navigation bar*/
.nav_bar{
    width: 100%;
    height: 5em;
    margin-top: -54%;
    position: fixed;
    z-index: 999;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

.nav_content{
    font-family: 'Ranchers', cursive;
    list-style: none;
    display: flex;
    height: 65px;
    margin:  0;
    padding: 0;
    z-index: 10;
}
.nav_content li{
    padding: 2.5rem;
}

.nav_content > li > a{
    text-decoration: none;
    color: #5C3317;
}

.nav_content > li:hover a {
    color:  #5F9F9F;
}

.drop_down-menu{
    padding: 0;
    z-index: 10;
    text-align: center;
    list-style-type: none;
    position: relative;
    display: inline-block;
    
}

.drop_down-menu a{
    text-decoration: none;
    color: #5C3317;
    
}

.drop_down-content{
    margin-top: -20%;
    transition: opacity .5s linear;
    opacity: 0;   
}

.drop_down-menu:hover a{
    color:  #5F9F9F;
}

.drop_down-content:hover a{
    color: #5C3317;;
    background-color:  #E6E8FA;
    
}

.drop_down-menu:hover > .drop_down-content{
    opacity: 1;
}

/*Personal Statement card*/
.personal_statement{
    background: #F7F8F8;  
    background: -webkit-linear-gradient(to right, #ACBB78, #F7F8F8);  
    background: linear-gradient(to right, #ACBB78, #F7F8F8);     
    height: 300px;
    width: 550px;
    border-radius: 1em;
    margin-top: -40%;
    margin-left: 5%;
    position: relative;
}

.back_img-ps{
    height: 350px;
    width: 250px;
    margin-top: -5%;
    transition: opacity .8s linear;
    cursor: pointer;
}

.personal_statement h3{
    margin-top: -38%;
    margin-left: 50%;
    font-size: 2.5em;
    font-family: 'Cute Font', cursive;
    transition: opacity .8s linear;
    cursor: pointer;
}


.personal_statement:hover > .back_img-ps{
   opacity: 0;
}

.personal_statement:hover > p{
    opacity: 1;
}

.personal_statement:hover > h3{
    opacity: 0;
}

.personal_statement:hover {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.personal_statement > p{
    word-wrap: break-word;
    line-height: 1.9em;
    padding-left: 1em;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin-top: -35%;
    transition: opacity .8s linear;
    cursor: pointer;
    opacity: 0;
}

/*Education card*/
.box_info-one{
    background: #FFEEEE;  
    background: -webkit-linear-gradient(to right, #DDEFBB, #FFEEEE);  
    background: linear-gradient(to right, #DDEFBB, #FFEEEE); 
    border-radius: 1em;
    height: 300px;
    width: 550px;
    float: right;
    margin-top: -23.5%;
    margin-right: 4%;
    position: relative;
}

.back_image-edu{
    height: 200px;
    width: 200px;
    margin-top: 13%;
    margin-left: 1%;
    transition: opacity .5s linear;
    cursor: pointer;
}

.box_info-one h4{
    margin-top: -28%;
    margin-left: 55%;
    font-size: 2.5em;
    font-family: 'Cute Font', cursive;
    transition: opacity .8s linear;
    cursor: pointer;
}

.box_info-one:hover > .back_image-edu{
    opacity: 0;
}

.box_info-one:hover > p{
    opacity: 1;
}

.box_info-one:hover > h4{
    opacity: 0;
}

.box_info-one:hover {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.box_info-one > p{
    margin-top: -37.5%;
    font-style: italic;
    padding-left: 1em;
    line-height: 1.5em;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    transition: opacity .8s linear;
    cursor: pointer;
    opacity: 0;
}
    
.major{
    text-decoration: underline;
    font-size: 1.5em;
}

.uni{
    font-style: oblique;
    font-weight: 600;
}

.days{
    font-weight: 600;
}

/*Footer*/
.footer{
    text-align: center;
    font-family: 'Ranchers', cursive;
    padding: 3px;
    color: #FFFF;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    position : fixed;
    bottom : 0;
    width : 100%;
    
}

.footer > p{
    color: #5C3317;
}

.footer > a{
    text-decoration: none;
    color: #5C3317;
}